<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% comment %} <p><a href="{% url 'details' pk='agriculture' %}">Agriculture</a></p> {% endcomment %}
    {% comment %} <p><a href="{% url 'details' pk='army' %}">Army</a></p>
    <p><a href="{% url 'details' pk='economy' %}">Economy</a></p>
    <p><a href="{% url 'details' pk='government' %}">Government</a></p>
    <p><a href="{% url 'details' pk='health' %}">Health</a></p>
    <p><a href="{% url 'details' pk='social' %}">Social</a></p>
    <p><a href="{% url 'details' pk='technology' %}">Technology & Innovation</a></p>
    <p><a href="{% url 'details' pk='transportation' %}">Transportation</a></p>
    <p><a href="{% url 'details' pk='other' %}">Other</a></p> {% endcomment %}

</body>
</html>